{
    "header": {
        "site-title": "Directory Listing"
    },
    "navbar": {
        "links": [
            {
                "link": "https://example.com/first-link",
                "icon": "bi bi-icon"
            },
            {
                "link": "https://example.com/second-link",
                "icon": "bi bi-icon"
            }
        ]
    },
    "footer": {
        "footer-text": "<p>Directory listing style courtesy of <a href=\"https://github.com/gradippp/superfancyindex\">Agradip335/superfancyindex</a>.</p>",
        "links": [
            {
                "link": "mailto:your-email@example.com",
                "text": "your-email@example.com"
            },
            {
                "link": "https://example.com",
                "text": "example.com"
            }
        ]
    }
}
