:root {
    --primary-color: #4a67ff;
    --background-color: #121212;
    --text-color: #e0e0e0;
    --text-color-light: #ffffff;
    --navbar-background: #1f1f1f;
    --breadcrumb-color: #4a67ff;
    --padding-top: 40px;
    --padding-bottom: 40px;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    font-family: "Open Sans", sans-serif;
    padding-top: var(--padding-top);
    /* padding-bottom: var(--padding-bottom); */
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--navbar-background);
    color: var(--text-color-light);
    min-height: 24px;
    padding: 0 8px;
}

.navbar-brand {
    height: 24px;
    padding: 0;
    font-size: 16px;
    line-height: 25px;
}

ol.breadcrumb {
    background-color: transparent;
    margin: 5px 0;
    padding: 0;
}

li.breadcrumb-item a {
    color: var(--breadcrumb-color);
}

#list a,
#list a:hover,
#list a:focus {
    color: var(--text-color);
}

#list th a,
#list th a:hover,
#list th a:focus {
    color: var(--primary-color);
}

#list .thead-dark th a,
#list .thead-dark th a:hover,
#list .thead-dark th a:focus {
    color: var(--text-color-light);
}

#list colgroup {
    display: none;
}

#list .filename {
    word-break: break-word;
    white-space: normal;
}

.footer {
    bottom: 0z;
    width: 100vw;
    margin-bottom: 0;
    background-color: var(--navbar-background);
    padding: 10px;
}

.footer a,
.footer a:hover,
.footer a:focus {
    color: var(--primary-color);
}
